<h2><%= @day.day.strftime("%A, %b %d, %Y") %></h2>

<div id="news">
  <section id="arxivs">
    <h5>Arxiv</h5>
    <%= render(@arxivs) || content_tag(:p, 'No records') %>
  </section>

  <section id="hns">
    <h5>Hacker News</h5>
    <%= render(@hns) || content_tag(:p, 'No records') %>
  </section>
  
  <section id="githubs">
    <h5>Github</h5>
    <%= render(@githubs) || content_tag(:p, 'No records') %>
  </section>
</div>
