<h2><%= @day.day.strftime("%A, %b %d, %Y") %></h2>
<ol>
  <% @arr.shuffle.each do |item| %>
    <% if item.is_a? Arxiv %>
      <li><a href="https://arxiv.org/pdf/<%= item.key %>"><%= item.title %></a></li>
    <% end %>
  <% end %>
</ol>